<h3>Where's My Donuts?</h3><br>

<%if logged_in? %>
<p>
  <a href="/new_shop">Click here to add new donut shop</a>
</p><br>
<%end%>

<% @shops.each do |shop| %>

<p>
  <%=shop["shop_name"] %><br>
  <%=shop["website"]%><br>
  <%=shop["location"]%><br>
  <%=shop["bio"]%><br>

  <%if logged_in? %>
  <div>
    <form action="/one_shop" method="get">
      <input type="hidden" name="id" value="<%=shop["id"]%>">
      <button>edit</button>
    </form>
    <form action="/one_shop?id=<%=shop["id"]%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>delete</button>
    </form>
  </div>

  <%end%>

</p><br>


<% end %>